.header5x5 {
  display: flex;
  justify-content: space-between;
  margin: $l-size 0 $m-size 0;
  @media (max-width: $mobile-breakpoint) {
    margin: 2em 5em 2em 5em;
  }
}

.exercises5x5 {
  background: #dadada;
  padding: 10px;
  border-radius: 30px;
  margin: 10px 0;
}

.box {
  border: solid;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 6px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.timer5x5 {
  @extend .box;
  flex-grow: 1;
  margin: 0 15px;
  text-align: center;
  padding: 20px 60px;
  @media (max-width: $mobile-breakpoint) {
    font-size: 2rem;
    margin: 0 0 $l-size 0;
    text-align: center;
    width: 100%;
  }
}

.workout-bodyweight {
  @extend .box;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  @media (max-width: $mobile-breakpoint) {
    flex-grow: 1;
  }
}
.workout-weights {
  @extend .workout-bodyweight;
  @media (max-width: $mobile-breakpoint) {
  margin-right: 25px;
  }
}

.workout-exercise {
  @extend .box;
  margin-bottom: $m-size;
  @media (max-width: $mobile-breakpoint) {
    margin: $l-size $m-size;
  }
}

.exercise-title-5x5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $mobile-breakpoint) {
    font-size: 80%;
  }
}

.exercise-message5x5 {
  text-align: center;
  padding-top: 5px;
  font-style: italic;
}

.counter5x5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input5x5 {
  margin: 0 1.2rem 0 0;
  width: max-content;
  @media (max-width: $mobile-breakpoint) {
    margin: 0 0 1.2rem 0;
    text-align: center;
    width: 250px;
  }
}

.done {
  background: #2bd99f;
  button {
    background: darken(#2bd99f, 20%)
  }
}
.almost {
  background: #e3da86;
  button {
    background: darken(#e3da86, 30%)
  }
}

//History

.radar5x5 {
  display: flex;
  margin: auto;
  height: 30em !important;
  width: 30em !important;
}