.avatar {
  align-items: center;
  display: flex;
  justify-content: center;
}
.avatar__name {
  color: white;
  margin: 0;
}
.avatar__img {
  height: 4rem;
  border-radius: 5px;
}

#logout {
  display: none;
}