.avatar {
  align-items: center;
  display: flex;
  justify-content: center;
}
.avatar__name {
  color: white;
  margin: 0;
}
.avatar__img {
  border-radius: 5px;
  height: 5rem;
  margin-left: 10px;
}

#logout {
  display: none;
  color: white;
  text-align: center;
  margin-right: 5px;
  p {
    margin: 0;
  }
}