.big-button {
  background: $light-blue;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: $m-size;
  padding: $s-size;
  text-decoration: none;
};

.btn-logout {
  background: none;
  border: none;
  color: white;
};

.btn-remove {
  @extend .big-button;
  background: #b92828;
}

.btn-play {
  background: #40d47e;
  margin: 7px;
  border-radius: 20px;
  height: 4rem;
  width: 9rem;
}

.btn-pause {
  @extend .btn-play;
  background: #b92828;
}

.btn-edit {
  @extend .btn-play;
  background: #e2df3f;
}

.btn-next-prev {
  @extend .btn-play;
  background: #1dc4f2;
}

.btn-x {
  background: #b92828;
  position: absolute;
  right: 15px;
  top: 15px;
  margin: 7px;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
}