// Base

.swal-button {
  &:active {
    padding: 10px 24px;
  }
}

.big-button {
  background: $blue;
  border-radius: 10px;
  color: #fff;
  font-size: $m-size;
  padding: $s-size;
  &:active {
    padding: $s-size;
  }
}

.btn-logout {
  background: none;
  border: none;
  color: white;
}

.btn-remove-s {
  background: #b92828;
  border-radius: 100%;
  color: #fff;
  height: 2.2em;
  width: 2.2em;
  margin: 7px 0 7px 7px;
}

.btn-remove-m {
  @extend .btn-remove-s;
  height: 2.8em;
  width: 2.8em;
  &:disabled {
    background: #ccc;
    border: 0px;
    box-shadow: none;
  }
}
.btn-edit-s {
  @extend .btn-remove-s;
  background: $blue;
}

.btn-edit-m {
  @extend .btn-remove-m;
  background: $blue;
}

//User

.btn-gender {
  background: #b7b7b7;
  border-radius: 50px;
  border-style: outset;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 5em;
  width: 5em;
  margin: 5px 8px 0;
  &:active {
    border-style: inset;
    box-shadow: none;
  }
  @media (max-width: $mobile-breakpoint) {
    flex-grow: 1;
  }
}
.male-active {
  background: #1e83d6;
  border-style: inset;
  box-shadow: none;
}
.female-active {
  background: #f57289;
  border-style: inset;
  box-shadow: none;
}

.btn-activate {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  &:active {
    padding: 0px;
  }
}
.inactive-userName {
  color: #999;
}
.icon-active {
  color: $ok-green;
  font-size: 2.4em;
  margin-right: 0.2em;
}

.icon-inactive {
  color: $cancel-red;
  font-size: 2.4em;
  margin-right: 0.2em;
}

//Timer
.btn-play {
  background: $ok-green;
  color: #fff;
  margin: 7px;
  border-radius: 20px;
  height: 4rem;
  width: 9rem;
}

.btn-pause {
  @extend .btn-play;
  background: $cancel-red;
}

.btn-next-prev {
  @extend .btn-play;
  background: #1dc4f2;
}

.btn-x {
  background: #b92828;
  position: absolute;
  right: 15px;
  top: 15px;
  margin: 7px;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  @media (max-width: $mobile-breakpoint) {
    right: 10px;
    top: 5px;
  }
}

.btn-x-header {
  @extend .btn-x;
  top: 5.5em;
}

// Timer Form
.btn-add-int {
  background: $blue;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  border-radius: 20px;
  color: #fff;
  height: 5rem;
  min-width: 10rem;
}

.btn-replace-int {
  @extend .btn-add-int;
  &:disabled {
    background: #bbb;
    border: 0px;
    box-shadow: none;
  }
}

.btn-save {
  background: $blue;
  border-radius: 20px;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  margin: $m-size 0;
  height: 5rem;
  width: 100%;
}

.btn-cancel {
  @extend .btn-save;
  background: #d6331e;
}

.btn-alert-delete {
  background: #f27474;
  &:hover {
    background-color: #db6a6a !important;
  }
}

.btn-alert-exit {
  background: #f8bb86;
  &:hover {
    color: #fff;
    background-color: #e2ab7c !important;
  }
}

// 5x5

.btn-exercise-count {
  background: $blue;
  border-radius: 100%;
  color: #fff;
  font-size: 2.5em;
  height: 2em;
  width: 2em;
  @media (max-width: $mobile-breakpoint) {
    font-size: 6vw;
    height: 12vw;
    width: 12vw;
  }
}
