.big-button {
  background: $light-blue;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: $m-size;
  padding: $s-size;
  text-decoration: none;
};

.btn-logout {
  background: none;
  border: none;
  color: white;
};

.btn-remove {
  @extend .big-button;
  background: #ac1c1c;
}