.cal-activity {
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.cal-activity-options{
  display: flex;
  justify-content: space-between;
  margin-bottom: $s-size;
}

.cal-result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal-result-value {
  font-size: 30px;
  margin-left: 7px;
}

.activity-icon {
  display: flex;
  margin: 0 auto -50px auto;
}