.content-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

// User
.single-user-btns {
  width: 110px;
};

.list-userName {
  display: flex;
  align-items: center;
  width: 100%;
}

// Base
.margin-right {
  margin-right: $s-size;
}

.margin-xs {
  margin: 0 7px;
}

.fit-content {
  width: max-content;
}

.no-click {
  pointer-events: none;
}