.content-container {
  max-width: 100rem;
  margin: 0 auto $l-size-em auto;
  padding: 0 $m-size;
}

.chart-container {
  position: relative;
  width: 90%;
}
// Base
.margin-top {
  margin-top: $xl-size;
}

.margin-right {
  margin-right: $s-size !important;
}
.margin-right-xs {
  margin-right: 7px;
}

.margin-side {
  margin: 0 $s-size;
}

.mobile-margin-bottom {
  @media (max-width: $mobile-breakpoint) {
    margin-bottom: $s-size;
  }
}

.mobile-margin0 {
  margin: 0 !important;
}

.margin-xs {
  margin: 0 7px;
}

.fit-content {
  width: max-content;
}

.full-width {
  text-align: center;
  width: 100%;
}

.no-click {
  pointer-events: none;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-self-center {
  display: flex;
  margin: auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-center {
  @extend .flex;
  justify-content: center;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.column-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $m-size;
  @media (max-width: $mobile-breakpoint) {
    display: grid !important;
    justify-items: center;
    margin-bottom: 0px;
  }
}
