.content-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

// User

.single-user-btns {
  width: 110px;
};

.list-userName {
  display: flex;
  align-items: center;
  width: 100%;
}