.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.form-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.timer-form-header {
  @extend .form-header;
  @media screen and (orientation: portrait) {
    flex-direction: column;
    > * {
      justify-content: center;
      margin-right: 0 !important;
      width: 100% !important;
    }
  }
}

.form-timer-name {
  margin-right: $s-size;
  width: 45rem;
}

.form-timer-rounds {
  display: flex;
  justify-content: center;
  margin-top: $s-size-em;
}

.form-edit-interval {
  background: $light-blue !important;
}

.form-submit {
  display: flex;
  align-items: center;
  @media (max-width: $mobile-breakpoint) {
    display: grid;
  }
}

.form-cancel {
  margin-left: 15px;
  width: 40%;
  @media (max-width: $mobile-breakpoint) {
    margin-left: 0;
    width: 100%;
  }
}

.user-form {
  padding: 1.6rem;
  border-radius: 30px;
  margin: auto;
  max-width: 700px;
  .text-input {
    background: white;
  }
  h2 {
    text-align: center;
    margin-bottom: $m-size;
  }
}