.header {
  background: $dark-blue;
};

h1 {
  color: white;
}
.header__content{
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
};

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0
  };
};

.header__img {
  height: 4rem;
}