.text-input {
  border: 1px solid #cacccd;
  border-radius: 10px;
  height: 47.5px;
  font-size: $m-size;
  font-weight: 300;
  padding: $s-size;
  &:focus {
    outline: none;
  }
}

.select {
  @extend .text-input;
};

.interval-input {
  @extend .text-input;
  margin-right: $s-size;
}
.interval-time-set {
  @extend .interval-input;
  min-width: 70px;
  max-width: 70px;
}

.interval-select {
  @extend .interval-input;
  min-width: 110px;
}