.text-input {
  border: 1px solid #cacccd;
  border-radius: 10px;
  height: 47.5px;
  font-size: $m-size;
  font-weight: 300;
  padding: $s-size;
  &:focus {
    outline: none;
  }
}

.interval-time-set {
  @extend .margin-right-input;
  min-width: 70px;
  max-width: 70px;
  margin-right: 0px !important;
}

.interval-select {
  @extend .margin-right-input;
  min-width: 115px;
}

.inline-input {
  border: none;
  border-bottom: 1px solid;
  width: 35px;
  text-align: right;
  &:focus {
    outline: none;
  }
}

.inline-input2 {
  @extend .inline-input;
  width: 25px;
}
.inline-input4 {
  @extend .inline-input;
  width: 40px;
}

.margin-right-input {
  @extend .text-input;
  margin-right: $s-size;
}

.margin-right {
  margin-right: $s-size;
}

.fit-content {
  width: max-content;
}

.no-click {
  pointer-events: none;
}