.text-input {
  border: 1px solid #cacccd;
  border-radius: 10px;
  height: 47.5px;
  font-size: $m-size;
  font-weight: 300;
  padding: $s-size;
  &:focus {
    outline: none;
  }
}

.margin-right-input {
  @extend .text-input;
  margin-right: $s-size;
}

.interval-time-set {
  @extend .margin-right-input;
  min-width: 70px;
  max-width: 70px;
  margin-right: 0px;
}

.interval-select {
  @extend .margin-right-input;
  min-width: 115px;
}

.margin-right {
  margin-right: $s-size;
}

.inline-input {
  border: none;
  border-bottom: 1px solid;
  width: 40px;
  text-align: right;
  &:focus {
    outline: none;
  }
}