// .list-body {
//   margin-bottom: $l-size;
// }

.list-header {
  align-items: center;
  border: 2px solid darken($color: $off-white, $amount: 9%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $s-size $l-size;
  p {
    margin: 0;
    font-size: 2rem;
  }  
  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }  
}  

.list-item {
  align-items: center;
  border: 2px solid darken($color: $off-white, $amount: 9%);
  border-top: none;
  display: flex;
  justify-content: space-between;
  transition: background .3s ease;
  padding: 0 $l-size;
  &:hover {
    background: $off-white;
  }
  p {
    margin: 0;
    font-size: 2rem;
  }  
  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }  
}

.list-dashboard {
  border: 2px solid darken($color: $off-white, $amount: 9%);
  border-top: none;
  color: $dark-gray;
  display: block;
  font-size: $l-size;
  text-align: center;
  text-decoration: none;
  transition: background .3s ease;
  padding: $s-size $l-size;
  &:hover {
    background: $off-white;
  }
}

.list-int {
  h3 {
    margin: 0;
  };
  p {
    margin: 0;
    color: $gray;
    font-size: $s-size;
  }
  @media (max-width: $mobile-breakpoint) {
    text-align: center;
  }
}

.list-no-int {
  @extend .list-header;
  align-items: center;
  background: none;
  border-radius: 0px;
  color: $gray;
  margin: 0;
}

.list-duration {
  font-weight: bold;
  margin: 0;
  @media (max-width: $mobile-breakpoint) {
    margin: $s-size 0 0 0;
  }
};

.list-inactive-user {
  @extend .list-item;
  background: #eee;
  color: #999;
}