.list-header {
  align-items: center;
  border: 2px solid darken($color: $off-white, $amount: 9%);
  border-radius: 15px 15px 0 0;
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $s-size $l-size;
  p {
    font-size: $m-size-em;
    margin: 0px;
  }
}

.list-item {
  align-items: center;
  border: 2px solid darken($color: $off-white, $amount: 9%);
  border-top: none;
  display: flex;
  justify-content: space-between;
  transition: background 0.3s ease;
  padding: 0 $l-size;
  &:hover {
    background: $off-white;
  }
  p {
    font-size: 2rem;
  }
}

.list-no-int {
  @extend .list-header;
  align-items: center;
  background: none;
  border-top: none;
  border-radius: 0px;
  color: $gray;
  margin: 0;
}

.list-int-form {
  background: $light-blue;
  padding: $s-size $l-size;
  border: 2px solid #e0e0e0;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-int-duration-form {
  display: flex;
  align-items: center;
}

.list-int-color {
  margin: 2px 1.2rem 2px -1rem;
  width: $m-size;
}

.list-dashboard {
  border: 2px solid darken($color: $off-white, $amount: 9%);
  border-top: none;
  color: $dark-gray;
  display: block;
  font-size: $l-size-em;
  text-align: center;
  transition: background 0.3s ease;
  padding: $s-size $l-size;
  &:hover {
    background: $off-white;
  }
}

.list-index {
  border-right: 1px solid;
  color: gray;
  font-style: italic;
  margin: 0 0.5em 0 -0.5em;
  padding-right: 0.5em;
}

.list-int {
  display: flex;
  p {
    margin: 0;
    color: $gray;
    font-size: $s-size-em;
  }
}

.list-duration {
  font-weight: bold;
  margin: 0;
  @media (max-width: $mobile-breakpoint) {
    margin: $s-size 0 0 0;
  }
}

.list-inactive-user {
  @extend .list-item;
  background: #eee;
  color: #999;
}

.list-userName {
  display: flex;
  align-items: center;
  width: 100%;
}

.list-item-btns {
  width: 156px;
  display: flex;
  justify-content: flex-end;
}
