* {
  box-sizing: border-box;
  //disable select
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  color: $dark-gray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  @media (max-width: $mobile-breakpoint) {
    font-size: 13px;
    line-height: 1.3;
  }
  @media (max-width: 400px) {
    font-size: 10px;
  }
}

button {
  padding: 0px;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    padding-left: 2px;
  }
}

a {
  color: #333;
  text-decoration: none;
}
