* {
  box-sizing: border-box;
  //disable select
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

button {
  padding: 0px;
  cursor: pointer;
  &:disabled {
  cursor: default;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    padding-left: 2px;
  }
}

a {
  color: #333;
  text-decoration: none;
}


