* {
  box-sizing: border-box;
  //disable select
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
html {
  font-size: 62.5%;
}

body {
  color: $dark-gray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}

button:focus {
  outline:0;
}

// @media (max-width: $mobile-breakpoint) {
//   html {
//     font-size: 9px;
//   }
// }
