// Colors
$off-white: #f7f7f7;
$dark-gray: #333;
$gray: #666666;
$light-blue: #1e83d6;
$dark-blue: #364051;

// Sizes

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$mobile-breakpoint: 45rem;

$padding-top-size: 8rem;
